.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}   

.menu {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 0;
    padding: 0;
}