.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}   

.menu {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__item {
    display: flex;
    align-items: center;
}

.menu__item-link {
    display: flex;
    font-weight: 400;
    gap: 10px;
    text-decoration: none;
    color: var(--black);
}

.menu__item-link--active {
    font-weight: 700;
}

.menu__item-text {
    display: block;
    margin: auto 0;
}

.menu__counter {
    display: block;
    border: 1px solid var(--black);
    border-radius: 50%;
    border-color: var(--black);
    font-size: 12px;
    line-height: 28px;
    font-weight: 600;

    padding: 0 10px;
    margin: 0 0 0 12px;
}